
<div *ngIf="cliente">
    <h2><span>Cliente</span> {{cliente.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Id Cliente</span></dt>
        <dd>
            <span>{{cliente.idCliente}}</span>
        </dd>
        <dt><span>Id Usuario</span></dt>
        <dd>
            <span>{{cliente.idUsuario}}</span>
        </dd>
        <dt><span>Carro</span></dt>
        <dd>
            <div *ngIf="cliente.carroId">
                <a [routerLink]="['/carro-my-suffix', cliente.carroId]">{{cliente.carroId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'cliente-my-suffix/'+ cliente.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
