
<div *ngIf="stock">
    <h2><span>Stock</span> {{stock.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Id Stock</span></dt>
        <dd>
            <span>{{stock.idStock}}</span>
        </dd>
        <dt><span>Nombre Stock</span></dt>
        <dd>
            <span>{{stock.nombreStock}}</span>
        </dd>
        <dt><span>Id Sucursal</span></dt>
        <dd>
            <span>{{stock.idSucursal}}</span>
        </dd>
        <dt><span>Stock Producto</span></dt>
        <dd>
            <div *ngIf="stock.stockProductoId">
                <a [routerLink]="['/stock-producto-my-suffix', stock.stockProductoId]">{{stock.stockProductoId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'stock-my-suffix/'+ stock.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
