<div>
    <h2>
        <span>Carro Productos</span>
        <button class="btn btn-primary float-right jh-create-entity create-carro-productos-my-suffix" [routerLink]="['/', { outlets: { popup: ['carro-productos-my-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Carro Productos
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="carroProductos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="idCarro"><span>Id Carro</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="idStockProducto"><span>Id Stock Producto</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="precio"><span>Precio</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="descuento"><span>Descuento</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="idDireccionCliente"><span>Id Direccion Cliente</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let carroProductos of carroProductos ;trackBy: trackId">
                <td><a [routerLink]="['../carro-productos-my-suffix', carroProductos.id ]">{{carroProductos.id}}</a></td>
                <td>{{carroProductos.idCarro}}</td>
                <td>{{carroProductos.idStockProducto}}</td>
                <td>{{carroProductos.precio}}</td>
                <td>{{carroProductos.descuento}}</td>
                <td>{{carroProductos.idDireccionCliente}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../carro-productos-my-suffix', carroProductos.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'carro-productos-my-suffix/'+ carroProductos.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'carro-productos-my-suffix/'+ carroProductos.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="carroProductos && carroProductos.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
