<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myStockProductoLabel">Create or edit a Stock Producto</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!stockProducto.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="stockProducto.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_idStockProducto">Id Stock Producto</label>
            <input type="number" class="form-control" name="idStockProducto" id="field_idStockProducto"
                [(ngModel)]="stockProducto.idStockProducto" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_idStock">Id Stock</label>
            <input type="number" class="form-control" name="idStock" id="field_idStock"
                [(ngModel)]="stockProducto.idStock" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_idProducto">Id Producto</label>
            <input type="text" class="form-control" name="idProducto" id="field_idProducto"
                [(ngModel)]="stockProducto.idProducto" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_cantidad">Cantidad</label>
            <input type="number" class="form-control" name="cantidad" id="field_cantidad"
                [(ngModel)]="stockProducto.cantidad" />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_carroProductos">Carro Productos</label>
            <select class="form-control" id="field_carroProductos" name="carroProductos" [(ngModel)]="stockProducto.carroProductosId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="carroProductosOption.id" *ngFor="let carroProductosOption of carroproductos; trackBy: trackCarroProductosById">{{carroProductosOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
