<div>
    <h2>
        <span>Repartidors</span>
        <button class="btn btn-primary float-right jh-create-entity create-repartidor-my-suffix" [routerLink]="['/', { outlets: { popup: ['repartidor-my-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Repartidor
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="repartidors">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="idRepartidor"><span>Id Repartidor</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nombreRepartidor"><span>Nombre Repartidor</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="idUsuario"><span>Id Usuario</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="vehiculoId"><span>Vehiculo</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let repartidor of repartidors ;trackBy: trackId">
                <td><a [routerLink]="['../repartidor-my-suffix', repartidor.id ]">{{repartidor.id}}</a></td>
                <td>{{repartidor.idRepartidor}}</td>
                <td>{{repartidor.nombreRepartidor}}</td>
                <td>{{repartidor.idUsuario}}</td>
                <td>
                    <div *ngIf="repartidor.vehiculoId">
                        <a [routerLink]="['../vehiculo-my-suffix', repartidor.vehiculoId  ]" >{{repartidor.vehiculoId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../repartidor-my-suffix', repartidor.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'repartidor-my-suffix/'+ repartidor.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'repartidor-my-suffix/'+ repartidor.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="repartidors && repartidors.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
