
<div *ngIf="repartidor">
    <h2><span>Repartidor</span> {{repartidor.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Id Repartidor</span></dt>
        <dd>
            <span>{{repartidor.idRepartidor}}</span>
        </dd>
        <dt><span>Nombre Repartidor</span></dt>
        <dd>
            <span>{{repartidor.nombreRepartidor}}</span>
        </dd>
        <dt><span>Id Usuario</span></dt>
        <dd>
            <span>{{repartidor.idUsuario}}</span>
        </dd>
        <dt><span>Vehiculo</span></dt>
        <dd>
            <div *ngIf="repartidor.vehiculoId">
                <a [routerLink]="['/vehiculo-my-suffix', repartidor.vehiculoId]">{{repartidor.vehiculoId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'repartidor-my-suffix/'+ repartidor.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
