<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myEntregaLabel">Create or edit a Entrega</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!entrega.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="entrega.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_idEntrega">Id Entrega</label>
            <input type="number" class="form-control" name="idEntrega" id="field_idEntrega"
                [(ngModel)]="entrega.idEntrega" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_idVehiculo">Id Vehiculo</label>
            <input type="number" class="form-control" name="idVehiculo" id="field_idVehiculo"
                [(ngModel)]="entrega.idVehiculo" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_idRuta">Id Ruta</label>
            <input type="number" class="form-control" name="idRuta" id="field_idRuta"
                [(ngModel)]="entrega.idRuta" />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_listaEntrega">Lista Entrega</label>
            <select class="form-control" id="field_listaEntrega" name="listaEntrega" [(ngModel)]="entrega.listaEntregaId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="listaEntregaOption.id" *ngFor="let listaEntregaOption of listaentregas; trackBy: trackListaEntregaById">{{listaEntregaOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
